<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
	<filter>
		<whitelist>
			<directory suffix=".php">./</directory>
			<exclude>
				<directory>./contrib</directory>
				<directory>./docs</directory>
				<directory>./images</directory>
				<directory>./rpm</directory>
				<directory>./sql</directory>
				<directory>./styles</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
</phpunit>