<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="./tests/bootstrap.php"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutCoversAnnotation="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
	convertNoticesToExceptions="true"
	colors="true"
	stopOnError="false"
	stopOnFailure="false"
	verbose="true"
>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory>./build</directory>
				<directory>./contrib</directory>
				<directory>./docs</directory>
				<directory>./images</directory>
				<directory>./rpm</directory>
				<directory>./sql</directory>
				<directory>./styles</directory>
				<directory>./tests</directory>
				<directory>./vendor</directory>
				<file>base_conf.php</file>
				<file>languages/czech.lang.php</file>
				<file>languages/danish.lang.php</file>
				<file>languages/finnish.lang.php</file>
				<file>languages/french.lang.php</file>
				<file>languages/italian.lang.php</file>
				<file>languages/norwegian.lang.php</file>
				<file>languages/russian.lang.php</file>
				<file>languages/swedish.lang.php</file>
				<file>languages/turkish.lang.php</file>
			</exclude>
		</whitelist>
	</filter>
	<testsuites>
		<testsuite name="BASE test suite">
			<directory>./tests/PhpUnit/</directory>
		</testsuite>
	</testsuites>
	<php>
		<includePath>includes</includePath>
		<ini name="error_reporting" value="E_ALL" />
	</php>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
</phpunit>